<div class="row section">
    <div class="col-lg-4 section-title">
        background
    </div>
    <div class="col-lg-6 section-content">
        I am a full-stack software developer with a passion to continually learn. 
        Currently I am attending The University of Delaware and majoring in Computer Information Systems with an expected graduation date of May 2018.
        <br>
        <br> With experience in both front-end and back-end development, I am comfortable working around the full stack. I always
        have an open mind to learning to work with new technologies and development environments, and enjoy taking on new
        challenges head-on. As an extremely detail oriented thinker, my goal in projects is always to create a product that
        is efficient, organized, and scalable in the future.
    </div>
</div>
<div class="row section">
    <div class="col-lg-4 section-title">
        Education
    </div>
    <div class="col-lg-6 section-content">
        University of Delaware - Class of 2018
    </div>
</div>