.section {
    text-align: center;
    margin: 150px 0px 50px 0px;
    font-family: 'Lato', sans-serif;
}

.section-title {
    padding-right: 60px;
    text-align: right;
    color: #007bff;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.section-content {
    text-align: left;
    font-size: 1.2em;
}

.more-info-row {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 0; */
}

.more-info-col {
    padding: 0;
}

.more-info-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: #007bff;
    border: 2px solid #b9b9b9;
    border-radius: 30px;
    color: white;
    z-index: 100;
}

.more-info-button span{
    font-size: 1.2em;
    padding-left: 8px;
}

.more-info-button:focus {
    outline: 0;
}

.more-info-button:active {
    background: #2a91ff;
}

.more-info-list {
    list-style: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

}

.more-info-list li {
    display: flex;
    align-items: center;
    padding-left: 1em;
    text-indent: -1em;
}

.more-info-list li:before {
    font-family: Material Icons;
    content: "\e315";
    padding-right: 10px;
    color: #007bff;
    font-weight: 500;
    font-size: 1.8em;
}

#personal-info {
    margin: 100px 0px 0px 0px;
}

#personal-info div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-wrapper {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.info-icon {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    font-size: 2.5em;
    color: white;
    background: #007bff;
    border: 1px solid #b9b9b9;

}

.hover-item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background: transparent;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    color: black !important;

}

.hover-item a {
    color: black !important;
}

.icon-hovered {
    /* border: 1px solid black;
    border-radius: 50%; */
}

.icon-not-hovered {
    /* border: none; */
}

#background {
    margin-top: 100px;
}

#background-content {
    font-weight: 300;
}

#skill-header div {
    text-align: left;
    font-weight: 700;
    font-size: 1.05em;
    margin-bottom: 6px;
    border-bottom: 3px solid #007bff;
}

#skill-content ul,
li {
    padding: 0 0 4px 0;
    list-style-type: none;
    font-size: 0.95em;
    font-weight: 300;
}

#education-school {
    /* font-weight: 300; */
}

#education-major {
    font-weight: 300;
}

#courses-label {
    font-size: 1.05em;
    font-weight: 700;
}

#courses-header div {
    text-align: center;
    font-weight: 700;
    font-size: .95em;
    margin-top: 20px;
    margin-bottom: 6px;
    border-bottom: 3px solid #007bff;
}

#courses-content ul,
li {
    padding: 0 0 4px 0;
    list-style-type: none;
    font-size: 0.95em;
    font-weight: 300;
}

.experience-content {
    margin-bottom: 30px;
}

.experience-content span {
    font-weight: 300;
}

.experience-date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 23px;
    color: #555555;
    font-size: .95em;
    font-family: 'Roboto Condensed', sans-serif;
}