<div>
    <div class="row" id="cover">
        <div id="home-cover" class="col-lg-2">

        </div>
        <div id="phone-cover" class="col-lg-2 col-lg-offset-2">

        </div>
        <div id="email-cover" class="col-lg-2 col-lg-offset-4">

        </div>
        <div id="linkedin-cover" class="col-lg-2 col-lg-offset-6">

        </div>
        <div id="github-cover" class="col-lg-2 col-lg-offset-8">

        </div>
    </div>
    <div class="row" id="personal-info">
        <div id="home-hover" class="col-lg-2 col-lg-offset-1" (mouseenter)="hoverHome()" (mouseleave)="hoverHome()">
            <span class="material-icons info-icon" [ngClass]="isHovered('home')" [@hoverIcon]="isHovered('home')">home</span>
            <div *ngIf="hoverHomeVal" class="hover-item" [@slideIn]="'in'">
                <!-- <div class="hover-item" [@slideIn]="'in'"> -->
                <!-- <a href="https://goo.gl/maps/XAC99K2tJ1v">
                    438 Penfield Road, Fairfield, CT, 06824
                </a> -->
                438 Penfield Road, Fairfield, CT, 06824
            </div>
        </div>
        <div id="phone-hover" class="col-lg-2" (mouseenter)="hoverPhone()" (mouseleave)="hoverPhone()">
            <span class="material-icons info-icon" [ngClass]="isHovered('phone')" [@hoverIcon]="isHovered('phone')">phone</span>
            <div *ngIf="hoverPhoneVal" class="hover-item" [@slideIn]="'in'">
                <!-- <div class="hover-item" [@slideIn]="'in'"> -->
                203-727-3656
            </div>
        </div>
        <div id="email-hover" class="col-lg-2" (mouseenter)="hoverEmail()" (mouseleave)="hoverEmail()">
            <span class="material-icons info-icon" [ngClass]="isHovered('email')" [@hoverIcon]="isHovered('email')">email</span>
            <div *ngIf="hoverEmailVal" class="hover-item" [@slideIn]="'in'">
                <!-- <div class="hover-item" [@slideIn]="'in'"> -->
                <a href="mailto:mail.jordan.michaels@gmail.com">mail.jordan.michaels</a>
            </div>
        </div>
        <div id="linkedin-hover" class="col-lg-2" (mouseenter)="hoverLinkedIn()" (mouseleave)="hoverLinkedIn()">
            <span class="fa fa-linkedin-square info-icon" [ngClass]="isHovered('linkedin')" [@hoverIcon]="isHovered('linkedin')"></span>
            <div *ngIf="hoverLinkedInVal" class="hover-item" [@slideIn]="'in'">
                <!-- <div class="hover-item" [@slideIn]="'in'"> -->
                <a href="https://www.linkedin.com/in/jordan-michaels-589385149/">Jordan Michaels</a>
            </div>
        </div>
        <div id="github-hover" class="col-lg-2" (mouseenter)="hoverGithub()" (mouseleave)="hoverGithub()">
            <span class="fa fa-github info-icon" [ngClass]="isHovered('github')" [@hoverIcon]="isHovered('github')"></span>
            <div *ngIf="hoverGithubVal" class="hover-item" [@slideIn]="'in'">
                <!-- <div class="hover-item" [@slideIn]="'in'"> -->
                <a href="https://github.com/Jordsan">Jordsan</a>
            </div>
        </div>
    </div>
</div>

<div class="row section" id="background">
    <div class="col-lg-4 section-title">
        background
    </div>
    <div class="col-lg-6 section-content" id="background-content">
        I am a full-stack software developer with a passion for continually learning. Currently I am majoring in Computer Information
        Systems at The University of Delaware with an expected graduation date of May 2018.
        <br>
        <br> With experience in both front-end and back-end development, I am comfortable working around the full stack. I always
        have an open mind to learning to work with new technologies and development environments, and enjoy taking on new
        challenges head-on. As an extremely detail oriented thinker, my goal in projects is always to create a product that
        is efficient, organized, and scalable.
    </div>
</div>
<div class="row section">
    <div class="col-lg-4 section-title">
        Skills
    </div>
    <div class="col-lg-6 section-content">
        <div class="row" id="skill-header">
            <div class="col-lg-3">
                Languages
            </div>
            <div class="col-lg-3">
                Frameworks
            </div>
            <div class="col-lg-3">
                Libraries
            </div>
            <div class="col-lg-3">
                Tools
            </div>
        </div>
        <div class="row" id="skill-content">
            <div class="col-lg-3">
                <ul>
                    <li>Java</li>
                    <li>Javascript</li>
                    <li>Typescript</li>
                    <li>HTML</li>
                    <li>CSS & SCSS</li>
                    <li>Python</li>
                    <li>C & C++</li>
                    <li>PHP</li>
                    <li>MySQL & Oracle</li>
                    <li>ARM Assembly</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>Angular</li>
                    <li>Ionic</li>
                    <li>Spring Boot</li>
                    <li>Spring MVC</li>
                    <li>Jersey</li>
                    <li>JUnit & Mockito</li>
                    <li>Jasmine</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>Apache Kafka</li>
                    <li>jQuery</li>
                    <li>Bootstrap</li>
                    <li>Mongoose</li>
                    <li>Node.js</li>
                    <li>Express.js</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li>Git</li>
                    <li>Firebase</li>
                    <li>Cloud Foundry</li>
                    <li>MongoDB</li>
                    <li>Maven</li>
                    <li>UML</li>
                    <li>BPMN</li>
                    <li>Microsoft Office</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row section">
    <div class="col-lg-4 section-title">
        Education
    </div>
    <div class="col-lg-6 section-content" id="education-content">
        <b>University of Delaware - Class of 2018</b>
        <br>
        <span>Bachelor of Science in Computer Information Systems</span>
    </div>
</div>
<div class="row section">
    <div class="col-lg-4 section-title">
        Experience
    </div>
    <div class="col-lg-6 section-content">
        <div class="row">
            <div class="col-lg-6 experience-content">
                <b>JPMorgan Chase & Co.</b>
                <br>
                <span>Technology Analyst Intern</span>
            </div>
            <div class="col-lg-6 experience-date">
                June 2017 - Dec 2017
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 experience-content">
                <b>GBG, The Corporate Gift Source, Inc.</b>
                <br>
                <span>Sales & Marketing Associate</span>
            </div>
            <div class="col-lg-6 experience-date">
                June 2014 - Aug 2016
            </div>
        </div>
    </div>
</div>

<div class="row section">
    <div class="col-lg-4 section-title">
        Projects
    </div>
    <div class="col-lg-6 section-content">
        asdf
    </div>
</div>