/* Large desktop */

@media (min-width: 1200px) {}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .section .section-title {
        text-align: left !important;
        margin-bottom: 12px !important;
    }

    .project-image {
        /* max-width: 75% !important; */
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    .section .section-title {
        text-align: left !important;
        margin-bottom: 12px !important;
    }
}

.section {
    text-align: center;
    margin: 150px 0px 50px 0px;
    font-family: 'Lato', sans-serif;
}

.section-title {
    padding-right: 60px;
    text-align: right;
    color: #007bff;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.section-content {
    text-align: left;
    font-size: 1.2em;
}

.no-padding {
    padding: 0;
}

.padding-left {
    padding-left: 15px;
    padding-right: 0;
}

.padding-right {
    padding-right: 15px;
    padding-left: 0px;
}

.margin-right {
    margin-right: 15px;
}

.margin-bottom {
    margin-bottom: 30px;
}

.margin-break {
    margin-bottom: 60px;
}

.expand-bottom {
    margin-bottom: 585px !important;
}

.more-info-row {
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 0; */
}

.more-info-col {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100%;
}

.more-info-icon {
    /* display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.0em; */
}

.more-info-button:focus {
    outline: 0;
}

.more-info-button:active,
.more-info-button:hover {
    background: #2a91ff;
}

.more-button-text {
    margin-left: 4px;
}

.more-button-icon {
    font-size: 1.4em;
    margin-left: 4px;
}

.more-info-button {
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .80em;
    min-height: 25px;
    height: auto;
    background: #007bff;
    border-radius: 12px;
    color: white;
    z-index: 100;
}

.more-info-button-mobile:focus {
    outline: 0;
}

.more-info-button-mobile:active {
    background: #2a91ff;
}

.button-stack {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    margin-bottom: 30px;
}

.more-info-list {
    list-style: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.more-info-list li {
    display: flex;
    align-items: center;
    padding-left: .5em;
    text-indent: -1em;
    margin-bottom: 6px;
}

.more-info-list li:before {
    font-family: Material Icons;
    content: "\e315";
    padding-right: 10px;
    color: #007bff;
    font-weight: 500;
    font-size: 1.8em;
}

#personal-info {
    margin: 100px 0px 0px 0px;
}

#personal-info div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-wrapper {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.hover-border {
    margin-bottom: 75px;
}

.info-icon {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 10px;
    font-size: 2.5em;
    color: white;
    background: #007bff;
    border: 1px solid #b9b9b9;
}

.hover-item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    background: transparent;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color: black !important;
}

.hover-item a {
    color: black !important;
    text-decoration: underline;
}

.icon-hovered {
    /* border: 1px solid black;
    border-radius: 50%; */
    z-index: 0;
}

.icon-not-hovered {
    /* border: none; */
    z-index: 10;
}

#background {
    margin-top: 40px !important;
}

#background-content {
    font-weight: 300;
}

.skill-header {
    text-align: left;
    font-weight: 700 !important;
    font-size: 1.05em !important;
    margin-bottom: 6px;
    padding-bottom: 4px;
    border-bottom: 2px solid #007bff;
}

#skill-content ul,
#skill-content li {
    padding: 0 0 4px 0;
    list-style-type: none;
    font-size: 0.95em;
    font-weight: 300;
}

#education .row {
    margin-left: 0;
    margin-right: 0;
}

#education-school {
    padding: 0;
}

#education-major {
    font-weight: 300;
    padding: 0;
}

#courses-label {
    font-size: 1.05em;
    font-weight: 700;
}

.courses-header {
    text-align: left;
    font-weight: 700;
    font-size: .95em;
    margin-top: 20px;
    margin-bottom: 6px;
    border-bottom: 2px solid #007bff;
}

.courses-content ul,
.courses-content li {
    padding: 0 0 0 0;
    list-style-type: none;
    font-size: 0.95em;
    font-weight: 300;
    margin: 0;
}

.experience-content span {
    font-weight: 300;
}

.experience-date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 23px;
    color: #555555;
    font-size: .90em;
    font-family: 'Roboto Condensed', sans-serif;
}

.experience-row {
    margin: 10px 0 0 0px;
}

.experience-project {
    margin-bottom: 50px;
}

.experience-detail-header {
    width: 100%;
    padding-bottom: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-weight: 700;
    font-style: italic;
    border-bottom: 2px solid #007bff;
}

.technology-wrapper {
    margin-top: 6px;
    margin-bottom: 6px;
    /* width: 80% */
    line-height: 30px;
    /* overflow: hidden; */
}

.technology-list {
    overflow: hidden;
}

.technology-header {
    /* display: inline-block; */
    padding-right: 0;
    padding-left: 0;
    font-size: .9em;
    font-weight: 700;
    /* width: 100px; */
}

.technology-tag {
    padding: 3px 6px 3px 6px;
    margin-right: 4px;
    border: 2px solid #007bff;
    border-radius: 6px;
    font-size: .8em;
}

.project {
    margin-bottom: 45px;
}

.project-header {
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: 1.2em;
}

.project-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-description {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}
