<div class="container-fluid" id="header-wrapper">
    <div class="row" id="header">
        <div id="scroll-wrapper">
            <a id="scroll-button" (click)="scroll()">
                <span class="fa fa-arrow-circle-o-down"></span>
            </a>
        </div>
        <span class="col-lg-12 col-md-12 col-s-12 col-xs-12">
            <div>
                <h1 id="header-name">Jordan Michaels</h1>
                <span id="sub-header">FULL STACK SOFTWARE ENGINEER</span>
            </div>
        </span>
    </div>
</div>

<div class="container-fluid" id="main-wrapper">
    <app-home></app-home>
</div>