#header-wrapper {
    padding: 0;
}

#header-wrapper > .row {
    margin: 0;
}

#header {
    text-align: center;
    height: 200px;
    font-family: "Courier New", sans-serif, monospace;
}

#header h1 {
    font-weight: 700;
    letter-spacing: 2px;
}

#tab-bar {
    width: 100%;
}

#tab-bar > div {
    text-align: center;
    padding: 0;
}

#tab-bar a {
    font-size: 1.4em;
    text-decoration: none;
    color: inherit;
}

#tab-bar a:hover {
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
     background: #fcfcfc;
}

.tab-button {
    width: 100%;
    border: none;
    background: transparent;
    font-family: "Courier New", sans-serif, monospace;
    font-weight: 600;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.tab-button:focus {
    outline: 0;
}

.selected {
    color: black !important;
    border-bottom: 4px solid #007bff;;
}

.not-selected {
    color: grey !important; 
    border-bottom: 4px solid #e0e0e0;
}