#header-wrapper {
    padding: 0;
}

#header-wrapper > .row {
    margin: 0;
}

#header {
    text-align: center;
}

#tab-bar {
    width: 100%;
}

#tab-bar > div {
    text-align: center;
}

#tab-bar a {
    font-size: 1.4em;
    text-decoration: none;
}

#tab-bar a:hover {
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}

.selected {
    color: black;
    border-bottom: 4px solid #0f88eb;
}

.not-selected {
    color: grey; 
    border-bottom: 4px solid #e0e0e0;
}